.social{
    width: 400px;
    border: 2px solid blue;
    height: 50px;
    display: flex;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}
.social:hover{
    background-color: black;
    color: white;
    cursor: pointer;

}
.social img{
    height: 35px;
    margin-right: 0.3rem;
}